body {
    margin: 0px;
    height: auto;
    scroll-margin: auto;
}
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
    justify-content: flex-start;
    margin: 0px 0px;

}
.header1, .header2 {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header1 {
    margin: 8px auto 2rem;
    justify-content: space-between;
    width: 75rem;
    display: flex;
    align-items: baseline;
}
 
.header_links {
    display: flex;
    justify-content: space-between;
}
.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 14px 14px;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;

}


.header2 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

.header2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 450px;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.img_sec {
    align-items: center;
    background-color: #e5e7eb68;
    color: #F9FAF8;
    height: 100%;

}

.header2 p {
    font-size: 18px;
    color: #E5E7EB;

}

.header2 .main_text {
    font-size: 48px;
    color: #F9FAF8; 
    margin: 10px 0px;
    align-self: flex-start;
}

.section1 {
    height: 20rem;

}

.sect_head {
    margin: 0px auto;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-style: extra bold;
}

.sect_main {
    display:flex;
    margin: 0 auto;
    justify-content: center;
}


.sect_main div {
    display: flex;
    width: 15em;

}

button {
    width: 120px;
    height: 40px;
    background-color: #3882F6;
    border-radius: 9%;
    border-style: none;
    font-size: 97%;
    color: #E5E7EB;
}

.card {
    height: 200px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}

.card p {
    width: 140px;
    text-align: center;
    
}


.card img {
    border-radius: 7%;
    height: 140px;
    width: 140px;
    border-style: solid;
    border-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 {
    height: 20rem;
    display: flex;
    background-color: #E5E7EB;
    padding: 50px 250px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.section2 div {
    font-size: 36px;
    color: #1F2937;
    display: flex;
}



.section2 .subtext {
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 24px;
    font-weight: 200;
    margin: 10px auto;
}

.footer {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sign_up {
    background-color: #3882F6;
    height: 50%;
    width: 70%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.sign_up div {
    color: #F9FAF8;
    padding: 0px 40px;
    padding: 0px 130px;

}

.sign_up .call {
    font-size: 20px;
}

.sign_up p {
    margin: 3px;
}

.sign_up div button {
    border-style: solid;
}

footer {
    height: 5rem;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
}
